<ion-view view-title='Градска линија: {{ line }}' hide-back-button='false' align-title='center'>
  <ion-content>
    <div class='row'>
      <div class='col col-offset-75 text-right'>
        <select ng-model='wday.mk'
                ng-options="d for d in ['делник', 'сабота', 'недела']"
                ng-change='wday_changed()'>
        </select>
      </div>
    </div>
    <div class='row'>
    <!--
      <div class='col col-10'>Route:</div>
    -->
      <div class='col col-offset-10'><small>{{ schedule.route }}</small></div>
      <div class='col col-10'></div>
    </div>
    <div class='list'>
      <div class='item item-divider'>
        <div class='row row-no-padding'>
          <div class='col col-10 no-padding'></div>
          <div class='col col-center divider'>{{ schedule.a }}</div>
          <div class='col col-center divider'>{{ schedule.b }}</div>
        </div>
      </div>
      <div class='item no-padding item-text-wrap' ng-repeat='tm in time'>
        <div class='row row-no-padding'>
          <div class='col col-10 text-center time'>{{ tm }}</div>
          <div class='col schedule col-center'>{{ schedule.table_a[$index][tm] }}</div>
          <div class='col schedule col-center'>{{ schedule.table_b[$index][tm] }}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
