<ion-view view-title='Приградска линија: {{ line }}'>
  <ion-content>
    <div class='row'>
      <div class='col col-offset-75 text-right'>
        <select ng-model='wday.mk'
                ng-options="d for d in ['делник', 'сабота', 'недела']"
                ng-change='wday_changed()'>
        </select>
      </div>
    </div>
    <!--
    <div class='row'>
      <div class='col col-offset-10'><small>{{ schedule.route }}</small></div>
      <div class='col col-10'></div>
    </div>
    -->
    <!--
    <div class='row'>
      <div class='col-10'></div>
      <div class='col col-center'>{{ schedule.a }}</div>
      <div class='col col-center'>{{ schedule.b }}</div>
    </div>
    <div ng-repeat='tm in schedule.table_a' class='row'>
      <div class='col-10 col-center'
          style='background-color: #F0F3F8; text-align: center'><small>&nbsp;</small></div>
      <div class='col col-center'>{{ schedule.table_a[$index].time }}</div>
      <div class='col col-center'>{{ schedule.table_b[$index].time }}</div>
    </div>
    -->
    <div class='list'>
      <div class='item item-divider item-text-wrap'>
        <div class='row row-no-padding'>
          <div class='col col-10 no-padding'></div>
          <div class='col col-50 col-center divider'>{{ schedule.a }}</div>
          <div class='col col-50 col-center divider'>{{ schedule.b }}</div>
        </div>
      </div>
      <div class='item no-padding item-text-wrap' ng-repeat='tm in schedule.table_a'>
        <div class='row row-no-padding'>
          <div class='col col-10 text-center time'></div>
          <div class='col schedule col-center'>{{ schedule.table_a[$index].time }}</div>
          <div class='col schedule col-center'>{{ schedule.table_b[$index].time }}</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
